<div class="mydiv">
    <input type="text" id="myInput" placeholder="Procurar registro" [(ngModel)]="filter">
  <table id="table">
    <thead>
      <tr>
        <th (click)="sort('date')">Dia/Hora</th>
        <th>Usuario</th>
        <th>Departamento</th>
        <th>Gestor</th>
        <th>Sistema</th>
        <th>Modulo</th>
        <th>Atividade</th>
        <th>Usuario Referencia</th>
        <th>Funcionalidade</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of dado | filter:filter |  paginate: { itemsPerPage: 10, currentPage: p } | orderBy: key : reverse" [ngStyle]="{'background-color':r.statusGestor === 'Aprovado'  && r.statusOwner === 'Aprovado' && r.statusProcessos === 'Aprovado' && r.statusCompliance === 'Aprovado'? '#dbffeb' : '#fceee0'}" (click)="r.statusGestor === 'Aprovado'  && r.statusOwner === 'Aprovado' && r.statusProcessos === 'Aprovado' && r.statusCompliance === 'Aprovado'? r.status = 'Aprovado' : getUrls(r.uid)">
        <td>{{r.dia | date:'dd/MM/yy hh:mm:ss'}}</td>
        <td>{{r.email}}</td>
        <td>{{r.departamento}}</td>
        <td>{{r.gestor}}</td>
        <td>{{r.sistema}}</td>
        <td>{{r.modulo}}</td>
        <td>{{r.atividade}}</td>
        <td>{{r.userReference}}</td>
        <td>{{r.funcionalidade}}</td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event"
  screenReaderPaginationLabel="Pagination"></pagination-controls>
  <button (click)="createCard(dado)">Gerar PDF</button>
</div>